@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.navbar {
    /* background-color: crimson; */
    width: 100%;
    position: fixed;
    padding: 30px 0;
    font-family: 'ubuntu', sans-serif;
    z-index: 999;
}

.navbar.sticky {
    padding: 15px 0;
    background: crimson;
}

.navbar .menu li a {
    display: block;
    color: antiquewhite;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.navbar .menu li a:hover {
    color: gold
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

/* menu bar style */

.menu-btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.navbar .logo a {
    color: antiquewhite;
    font-size: 30px;
    font-weight: 600;
}

.navbar .logo a span {
    color: goldenrod;
}

/* home section style */

.home {
    display: flex;
    background-color: black;
    color: aliceblue;
    height: 100vh;
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background-color: goldenrod;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    border: 2px solid goldenrod;
    width: 100px;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ease;
}

.home .home-content a:hover {
    color: goldenrod;
    background: none;
}

/* about section style */

section {
    padding: 100px 0;
}

.about, .services, .skills, .team, .contact, footer{
    font-family: 'poppins', sans-serif;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    width: 180px;
    background: #111;
    height: 3px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)
}

section .title::after {
    position: absolute;
    background: #fff;
    font-size: 20px;
    color: rgb(173, 126, 6);
    padding: 5px;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%)
}

.about .title::after {
    content: "who i am";
}

.about .about-content, .services .serv-content, .skills .skills-content, .contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: rgb(173, 126, 6)
}

.about .about-content .right p {
    text-align: justify
}

.about .about-content .right a {
    display: inline-block;
    background-color: rgb(173, 126, 6);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(173, 126, 6);
    width: 120px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s ease;
    margin-top: 5px;
}

.about .about-content .right a:hover {
    color: goldenrod;
    background: none;
}

/* services section style */

.services, .team {
    color: #fff;
    background: black;
}

.services .title::before, .team .title::before {
    background: #fff;
}

.services .title::after, .team .title::after {
    background: black;
    content: "what i provide"
}

.services .serv-content .card {
    width: calc(33% -20px);
    width: 250px;
    height: 200px;
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card:hover {
    color: rgb(194, 150, 39);
    background: rgb(57, 57, 59)
}

.services .serv-content .card:hover i {
    color: rgb(226, 203, 173);
}

.services .serv-content .card i {
    font-size: 30px;
    color: aqua;
}

.services .serv-content .card .text {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

/* skill section style */

.skills .title::after {
    color: rgb(121, 104, 31);
    content: "what i provide"
}

.skills .skills-content .column {
    width: 40%
}

.skills .skills-content {
    display: flex;
}

.skills .skills-content .left .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background-color: rgb(173, 126, 6);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(173, 126, 6);
    width: 120px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s ease;
    margin-top: 5px;
}

.skills .skills-content .left a:hover {
    color: goldenrod;
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .skills-content .right span {
    font-weight: 600;
    font-size: 17px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background-color: gray;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: rgb(152, 76, 228);
}

.skills .skills-content .right .html::before {
    width: 90%;
}

.skills .skills-content .right .css::before {
    width: 60%;
}

.skills .skills-content .right .bootstrap::before {
    width: 70%;
}

.skills .skills-content .right .js::before {
    width: 50%;
}

.skills .skills-content .right .rjs::before {
    width: 60%;
}

/* team section style  */

.team .title::after {
    content: "team member"
}

.team .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.32s ease;
}

.team .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.team .carousel .card:hover .box {
    transform: scale(1.05);
}

.team .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.team .carousel .card:hover {
    color: rgb(194, 150, 39);
    background: rgb(68, 66, 60)
}

.team .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(194, 150, 39);
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid rgb(194, 150, 39)!important;
    transition: all 0.3s ease
}

.owl-dot.active {
    width: 35px;
    border-radius: 15px;
}

.owl-dot.active, .owl-dot:hover {
    background: wheat !important;
}

/* contact section style */

.contact .title::after {
    content: "connect with us"
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 40px;
}

.contact .contact-content .row i {
    color: firebrick;
    font-size: 25px
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: rgb(66, 60, 46);
}

.contact .right form .fields {
    display: flex;

}
.contact .right form .field,
.contact .right form .fields .field{
    height:45px;
    width:100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height:80px;
}

.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}


.contact .right form .field input,
.contact .right form .textarea textarea{
    height:100%;
    width: 100%;
    border:1px solid lightblue;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size:17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height:47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height:100%;
    color:goldenrod;
    border:2px solid goldenrod;
    background:black;
    font-size:20px;
    font-weight: 500 ;
    border-radius:6px;
    cursor: pointer;
    transition: all 0.3s ease;


}
.contact .right form .button button:hover{
    color: goldenrod;
    background: none;
}




/* footer section styling */

footer{
    background:black;
    padding:20px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color:goldenrod;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}








/* responsive with media queries */

@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 40px;
    }
}

@media (max-width: 947px) {
    .max-width {
        padding: 0 40px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before {
        content: "\f00d"
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: black;
        text-align: center;
        padding-top: 10px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 65px;
    }
    .home .home-content .text-3 {
        font-size: 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px auto;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% -10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 40px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 25px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 28px;
    }
    .services .serv-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 23px;
    }
}